/* Error: Undefined mixin.
 *   ,
 * 5 | /   @include screen-tb {
 * 6 | |     position: relative;
 * 7 | \   }
 *   '
 *   filter.scss 5:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 5 \2502  \250c    @include screen-tb {\a 6 \2502  \2502      position: relative;\a 7 \2502  \2514    }\a   \2575 \a   filter.scss 5:3  root stylesheet";
}
