$fontLato: "Lato", sans-serif;
$fontBebas: "Bebas Neue", sans-serif;

$colorWhite: #F9F9F9;
$colorBlack: #1F1F1F;
$colorGray: #646464;
$colorLightGray: #A7A7A7;
$colorDarkGray: #333333;
$colorOrange: #E85002;
$colorGradient: linear-gradient(71.25deg, #FFFFFF 0%, #D9C3AB 5.77%, #F16001 45.19%, #C10801 100%);